
.movies-block__wrapper {
   position: relative;
}

.movies-block {
   padding: 35px 0;
}

.movies {
   list-style-type: none;
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   row-gap: 35px;
   column-gap: 3.5em;
}

.movies__wrapper-img {
   border-radius: 4px;
   /* border: 1px solid #383636; */
   height: auto;
   min-height: 225px;
   min-width: 150px;
   margin-bottom: 0.5em;
   background: radial-gradient(at top, #FEFFFF, #383636);
}

.movies__img {
   color: #383636;
   border-radius: 4px;
   height: auto;
   width: 100%;
}

.movies__title {
   font-weight: 400;
   font-size: 14px;
   color: #d2d5d8;
}

.movies__kard {
   position: relative;
   transition: all 0.5s ease;
   display: flex;
}

.movies__kard-link {
   margin-top: 15px;
   /* margin-left: 10px; */
   cursor: pointer;
   display: none;
}

.movies__kard-link svg {
   position: absolute;
   right: -20%;
}

.movies__kard-link svg:hover {
   fill: #f73a4c;
}

.movies__releas {
   position: absolute;
   background-color: #383636;
   padding: 6px 12px 5px 12px;
   border-radius: 4px;
   transform: translate(-10px, 55px);
   visibility: hidden;
}

.movies__raiting {
   position: absolute;
   background-color: #3bb33b;
   padding: 6px 12px 5px 12px;
   border-radius: 4px;
   max-width: 50px;
   color: #ffffff;
   transform: translate(-10px, 15px);
   visibility: hidden;
}

.movies__kard:hover .movies__releas,
.movies__kard:hover .movies__raiting {
   visibility: visible;
}

.pagination {
   padding-bottom: 60px;
   width: fit-content;
   margin: 0 auto;
}

.pagination__list {
   display: flex;
   list-style-type: none;
   background-color: #ffffff;
   justify-content: center;
   padding: 8px;
   border-radius: 50px;
   cursor: pointer;
}

.pagination__list li {
   line-height: 45px;
   text-align: center;
   color: #383636;
   font-size: 22px;
   font-weight: 500;
   border-radius: 50%;
   margin: 0 3px;
   transition: all 0.3s ease;
}

li.numb {
   height: 45px;
   width: 45px;
}

li.dots {
   cursor: default;
}

li.btn {
   padding: 0 20px;
}

li.prev {
   border-radius: 25px 5px 5px 25px;
}

li.prev::before {
   content: '< ';
}

li.next {
   border-radius: 5px 25px 25px 5px;
}

li.next::after {
   content: ' >';
}

li.active,
li.btn:hover,
li.numb:hover {
   background-color: #f73a4c;
   color: #ffffff;
}

/* прижимаю вниз страницы пагинацию */
/* main {
   display: flex;
   flex-direction: column;
   min-height: calc(100%-80px);
}

.movies-block {
   flex: 1 0 auto;
}

.pagination {
   flex: 0 0 auto;
} */

.movies-information {
   position: relative;
   font-size: 15px;
   color: #ffffff;
   list-style-type: none;
   display: flex;
}

.movies-information__img {
   max-width: 350px;
   height: 550px;
}

.movies-information__text-block {
   /* align-self: center; */
   margin-left: 5em;
}

.movies-information__text-block p:not(:nth-of-type(2)) {
   line-height: 180%;
   margin-bottom: 0.2em;
}

.text-block__subtitle {
   letter-spacing: 0.1em;
}

.text-block__title {
   line-height: 200%;
   font-size: 24px;
   font-weight: 700;
   letter-spacing: 0.1em;
   text-shadow: 0 0 0.6em #f73a4c;
}

p.text-block__genre {
   color: #d2d5d8;
   margin-bottom: 4em;
}

.text-block__reiting {
   color: #3bb33b;
   font-size: 25px;
}

.movies-information__btn-block {
   margin-left: 2em;
   margin-top: 0.5em;
   display: none;
}

.movies-information__btn-block svg:first-of-type {
   margin-bottom: 2em;
}

.movies-information__btn-block svg:first-of-type:hover {
   fill: #f73a4c;
   cursor: pointer;
}

.movies-information__btn-block svg:last-of-type:hover {
   fill: #fc0;
   cursor: pointer;
}

.movies-information__text-block p>span {
   text-shadow: 0 0 0.6em #f73a4c;
   font-size: 14px;
   color: #d2d5d8;
   margin-right: 0.8em;
}

.add-vote {
   text-shadow: none !important;
   font-size: 16px !important;
   color: #ffffff !important;
}

.movies-information__link {
   align-self: flex-start;
   border-radius: 50%;
   /* padding: 14px 15px;
   background-color: #ffffff; */
   position: absolute;
   top: 40%;
   left: -2%;
   display: none;
}

.movies-information__link:hover svg {
   fill: #f73a4c;
}

.add-vote-raiting {
   display: none;
   margin-top: 1em;
   padding: 0.5em 1em;
   background-color: #383636;
   color: #d2d5d8;
   border: none;
   border-radius: 4px;
}

.add-vote--option:nth-of-type(even) {
   background-color: #302f2f;
}

.add-vote-raiting:focus-visible,
.add-vote-raiting:hover {
   box-shadow: 0 0 0 1px #d2d5d8;
}