
.warning {
  color: #e90e24;
  border-bottom: 3px solid #e90e24 !important;
}

.warning-text {
  color: #e90e24;
}

.hide-text {
  color: #fff;
}

.not-wrong-border {
  background-color: #fff;
  border-bottom: 3px solid #fc0 !important;
}

.ok {
  color: #fc0;
}

.user-name,
.user-surname,
.confirm-password-warning-text,
.password-warning-text,
.user-wrong-pass,
.user-wrong-email,
.user-email-double {
  position: absolute;
  top: 65px;
}

/* стили для sign in */

.add-ganres {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.add-ganres__btn {
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.add-ganres__text {
  margin-bottom: 6px;
}

.add-genres-filter {
  margin-bottom: 8px;
}
